* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/*Header NavBar*/
header {
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #E5E7EB;
    box-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.1);
}
.logo-header {
    height:53px ;
    width: 150px;
}
.navBar {
    display: flex;
    gap: 30px;
    color: #6B7280;
    font-weight: 500;
}
.nav-links{
    list-style: none;
}
.btn-header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.btn-header a{
    text-decoration: none;
}
.btn-hone{
    color: #4338CA;
    padding: 8px 16px;
    background-color: #EEF2FF;
    border-radius: 10px;
    font-weight: 600;
}
.btn-hsecond{
    color: #fff;
    background-color: #4338CA;
    padding: 8px 16px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-hsecond::after,
.btn-hsecond::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.btn-hsecond::before {
    background-image: url("../src/arrow-right.svg");
    width: 24px;
    height: 24px;
}

.btn-hsecond::after {
    background-image: url("../src/plus.svg");
    width: 15px;
    height: 15px;
}
/*Section - Hero*/
.hero-section {
    padding: 84px 36px;
    background-color: #F9FAFF;
}
.hero-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 109px;

}
.contenido-hero {
    width: 500px;
    height: 572px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.awards-block {
    width: 100%;
    display: flex;
    justify-content: center;
}
.awards {
    width: 122px;
    height: 37px;
}
.title-color{
    color: #4F46E5;
}
.rainbow-text{
    background: linear-gradient( to right,#FF00AC 47% ,#FFE207 100% );
    background-clip: text;
    color: transparent;
}
.text-hero {
    color: #6B7280;
    font-weight: 400;
    opacity: 80% ;
}
.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.pequeño-texto {
    font-weight: bold;
    font-size: .875rem;
    color: #9CA3AF;
}
.contenido-hero h3{
    font-weight: bold;
    font-size: 14px;
    color: #9CA3AF;
}
.paises-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.paises {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 17px;
}
.pais{
    font-size: 12px;
    color: #4338CA;
    font-weight: 700;
    padding: 1px 8px;
    background-color: #E0E7FF;
    border-radius: 8px;
}
.cta-btn {
    color: white;
    background: linear-gradient(to left, #A000FF 0%, #FF006F 100%);
    text-align: center;
    padding: 12px;
    border-radius: 16px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    gap: 8px;
}
.cta-btn::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 19px;
    height: 19px ;


    background-image: url("../src/arrow-right.svg");
}
.cta-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.content-users {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #9CA3FA;
    font-weight: bold;
}
.content-users::after {
    content: "";
    display: inline-block;
    width: 95px;
    height: 19px;
    margin-left: 8px;
    background-image: url(../src/star.svg);
    background-repeat: repeat-x;
    background-position: left center;
    background-size: 19px 19px;
}
.badges-store {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.badge{
    width: 150px;
    height: 50px;
}
/* Image */
.image-hero {
    width: 412px;
    height: 508px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    border: 1px solid #9CA3AF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    gap: 10px;
}
.contenido-reproductor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-image {
    font-size: 1.3rem;
    color: #374151;
}
.image-hero a {
    background-color: #4F46E5;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    border-radius: 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.image-hero a::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;

    background: url(../src/arrow-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.short-text{
    font-size: .90rem;
    color: #9CA3AF;
}
.time-text {
    font-size: 2.4rem;
    color: black;
    font-weight: 600;
}
.btn-secundario {
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    background-color: rgba(99, 102, 241, .3);
    cursor: pointer;
}
.icon-reproducir {
    width: 24px;
    height: 24px;
}
.btn-primario {
    width: 98px;
    height: 98px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(to bottom,#FF006F 0%, #A000FF 100% );
}
.icon-preproducir {
    width: 40px;
    height: 40px;
    
}
.footer-reproductor {
    color: #9CA3AF;
    font-size: .88rem;
    font-weight: bold;
}