* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/*Header NavBar*/
header {
    padding: 10px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #E5E7EB;
    box-shadow: 0px 1px 2px  rgba(0, 0, 0, 0.1);
}
.logo-header {
    height:53px ;
    width: 150px;
}
.navBar {
    display: flex;
    gap: 30px;
    color: #6B7280;
    font-weight: 500;
}
.nav-links{
    list-style: none;
    text-decoration: none;
    color: #6B7280;
}
.btn-header {
    display: flex;
    gap: 10px;
    align-items: center;
}
.btn-header a{
    text-decoration: none;
}
.btn-hone{
    color: #4338CA;
    padding: 8px 16px;
    background-color: #EEF2FF;
    border-radius: 10px;
    font-weight: 600;
}
.btn-hsecond{
    color: #fff;
    background-color: #4338CA;
    padding: 8px 16px;
    border-radius: 10px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.btn-hsecond::after,
.btn-hsecond::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.btn-hsecond::before {
    background-image: url("../src/arrow-right.svg");
    width: 24px;
    height: 24px;
}

.btn-hsecond::after {
    background-image: url("../src/plus.svg");
    width: 15px;
    height: 15px;
}
/*Section - Hero*/
.hero-section {
    padding: 84px 36px;
    background-color: #F9FAFF;
}
.hero-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 109px;
    flex-wrap: wrap;

}
.contenido-hero {
    width: 500px;
    height: 572px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.awards-block {
    width: 100%;
    display: flex;
    justify-content: center;
}
.awards {
    width: 122px;
    height: 37px;
}
.title-color{
    color: #4F46E5;
}
.rainbow-text{
    background: linear-gradient( to right,#FF00AC 47% ,#FFE207 100% );
    background-clip: text;
    color: transparent;
}
.text-hero {
    color: #6B7280;
    font-weight: 400;
    opacity: 80% ;
}
.text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.pequeño-texto {
    font-weight: bold;
    font-size: .875rem;
    color: #9CA3AF;
}
.contenido-hero h3{
    font-weight: bold;
    font-size: 14px;
    color: #9CA3AF;
}
.paises-content{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.paises {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 17px;
}
.pais{
    font-size: 12px;
    color: #4338CA;
    font-weight: 700;
    padding: 1px 8px;
    background-color: #E0E7FF;
    border-radius: 8px;
}
.cta-btn {
    color: white;
    background: linear-gradient(to left, #A000FF 0%, #FF006F 100%);
    text-align: center;
    padding: 12px;
    border-radius: 16px;
    text-decoration: none;
    font-weight: 600;
    display: inline-flex;
    justify-content: center;
    gap: 8px;
}
.cta-btn::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 19px;
    height: 19px ;


    background-image: url("../src/arrow-right.svg");
}
.cta-hidden {
    color: #4338ca;
    background: #EEF2FF;
    text-align: center;
    padding: 12px;
    border-radius: 16px;
    text-decoration: none;
    font-weight: 600;
    display: none;
    /*display: inline-flex;*/
    /*justify-content: center;*/
    /*gap: 8px;*/
}
.cta-hidden::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 19px;
    height: 19px ;


    background-image: url("../src/michidden.svg");
}
.cta-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.content-users {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #9CA3FA;
    font-weight: bold;
}
.content-users::after {
    content: "";
    display: inline-block;
    width: 95px;
    height: 19px;
    margin-left: 8px;
    background-image: url(../src/star.svg);
    background-repeat: repeat-x;
    background-position: left center;
    background-size: 19px 19px;
}
.badges-store {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.badge{
    width: 150px;
    height: 50px;
}
/* Image */
.image-hero {
    width: 412px;
    height: 508px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    border: 1px solid #9CA3AF;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    gap: 10px;
}
.contenido-reproductor {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
#audio { 
    background-color: #E5E7EB;
    margin: 0px 0px 32px;
    border-radius: 16px;
}
.controls {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.text-image {
    font-size: 1.3rem;
    color: #374151;
    margin-bottom: 15px;
}
.image-hero a {
    background-color: #4F46E5;
    color: white;
    padding: 8px 32px;
    text-decoration: none;
    border-radius: 9px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.image-hero a::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;

    background: url(../src/arrow-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.short-text{
    font-size: .90rem;
    color: #9CA3AF;
}
.time-text {
    font-size: 2.4rem;
    color: black;
    font-weight: 600;
}
.btn-secundario {
    width: 56px;
    height: 56px;
    border: none;
    border-radius: 50%;
    background-color: rgba(99, 102, 241, .3);
    cursor: pointer;
}
.icon-reproducir {
    width: 24px;
    height: 24px;
}
.btn-primario {
    width: 98px;
    height: 98px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(to bottom,#FF006F 0%, #A000FF 100% );
}
.icon-preproducir {
    width: 40px;
    height: 40px;
    
}
.footer-reproductor {
    color: #9CA3AF;
    font-size: .88rem;
    font-weight: bold;
    display: inline-flex;
    gap: 5px;
    align-items: center;
}
.icon-card-hero {
    display: inline-flex;
    height: 14px;
    width: 14px;
}
.arrow-up {
    display: block;
    animation: flotar 1s ease-in-out infinite;
    opacity: 60%;
}
.microphone-card {
    animation: pulso 1.5s ease-in-out infinite;
}
@keyframes pulso {
    0% {
        opacity: 100%;
    }
    50% {
        opacity: 50%;
    }
    100% {
        opacity: 100%;
    }
}
.logos-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}
.logos {
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.arrow-container {
    background: #F9FAFF;
    display: flex;
    justify-content: center;
}
.arrow-down {
    display: block;
    animation: flotar 1s ease-in-out infinite;
}
@keyframes flotar {
    0% {
        transform: translateY(0)
    }
    50% { 
        transform: translateY(-15px);
    }
    100% {
        transform: translateY(0)
    }
}

    /*Section Why Choose*/
.why-choose{
    padding: 84px 36px;
    background-color: #F9FAFF;
}
.choose-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.choose-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.pequeño-titulo {
   color:#9CA3AF;
   font-size: 1.2rem; 
}
.titulo-choose{
    color: #374151;
    font-size: 2rem;
    text-align: center;
}
.grid-choose {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(317px, 1fr)) ;/*repeat(3, 317px);*/
    grid-template-rows:repeat(2, 139px);
    gap: 30px;
}
.badge-choose {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
    border-radius: 7px;
}
.badge-choose h3 {
    color:#000;
    font-size: 1.2rem;
    font-weight: 600;
}
.badge-choose p {
    color: #6B7280;
    font-size: .90rem;
}
.icon-grid-one {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.icon-grid-one::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../src/clock.svg");
}
.icon-grid-two {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.icon-grid-two::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: url("../src/checklist.svg");
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.icon-grid-three {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.icon-grid-three::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: url("../src/Brain.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-grid-four {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.icon-grid-four::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;

    background: url("../src/cohete.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon-grid-five {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.icon-grid-five::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: url("../src/Carpeta.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.icon-grid-six {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.icon-grid-six::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: url("../src/tablecheck.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.comentario-talknote {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.texto-coment-one {
    color: #374151;
    font-size: 1rem;
}
.texto-coment-two {
    color: #9CA3AF;
}
.footer-choose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.choose-comentarios {
    width: 53%;
}
.textos-comentario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
/* Section How it Works*/
.how-works {
    background-color: #EEF2FF;
    width: 100%;
    min-height: auto;
    padding: 80px 36px;
}
.works-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;
}
.how-grid {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 94px;
}
.grilla-acoordeon {
    width: 471px;
}
.gif-works {
    width: 100%;
}
.gif-works img {
    width: 100%;
}
summary {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    height: 59px;
    display: flex;
    align-items: center;
}
details {
    border-bottom: 1px solid rgba(107, 114, 128, 0.1);
    cursor: pointer;
}
details[open] > summary {
    color: #4F46E5;
}
.content-accordeon {
    color: #6B7280;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}
.cta-works {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.choose-comentariosworks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 90px;
    width: 53%;

}
/* Section de Casos de Uso*/

.use-cases {
    background-color: #F9FAFF;
    padding: 80px 36px;
}
.cases-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}
.use-titulos {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.uses-comentarios {
    width: 53%;
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.iconu-grid-one {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.iconu-grid-one::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../src/lightbulb.svg");
}
.iconu-grid-two {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.iconu-grid-two::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: url("../src/pencil.svg");
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.iconu-grid-three {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.iconu-grid-three::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: url("../src/book-text.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.iconu-grid-four {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.iconu-grid-four::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;

    background: url("../src/micblue\ .svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.iconu-grid-five {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.iconu-grid-five::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: url("../src/message-square.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.iconu-grid-six {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.iconu-grid-six::before {
    content: "";
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background: url("../src/graduation-cap.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
/*Section Pricing*/
.section-pricing {
 background-color: #EEF2FF;
 width: 100%; 
 padding: 96px 48px;  
}
.pricing-titulos{
    text-align: center;
}
.pricing-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    
}
.all-feature {
    color: #6B7280;
    font-size: 1rem;
}
.feature-green {
    color: #34D399;
}
.articulos-pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.grid-price {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
    gap: 50px;
    margin-top: 57px;
    margin-bottom: 30px;
}
.item-grid-2{
    grid-row: -2 ;
}
.grid-price-item {
    max-width: 397px;
    height: 515px;
    padding: 40px 32px;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 25px  rgba(0, 0, 0, .25) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid-price-item h3 {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
}
.text-pricing {
    color: #9CA3AF;
    font-size: .9rem;
    font-weight: bold;
}
.contenedor-precio{
    display: inline-flex;
    align-items: end;
}
.big-price {
    font-weight: bold;
    font-size: 3rem; 
}
.small-text-pricing {
    font-size: 1rem;
    color: #9CA3AF;
    display: block;
    font-weight: bold;
}

.price-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.price-item::before {
    content: "";
    display: inline-flex;
    width: 9px;
    height: 8px;
    margin-right: 12px;


    background: url("../src/checkpricing.svg");
    background-repeat: no-repeat;
}
.cta-pricing {
    display: flex;
    flex-direction: column;
}
.contenedor-precio-seguro {
    width: 100%;
    text-align: center;
}
.text-precio {
    color: #6B7280;
    font-size: 0.9rem;
    font-weight: bold;
}
.text-precio::before {
    content: "";
    display: inline-flex;
    width: 7px;
    height: 10px;
    margin-right: 10px;

    background: url("../src/securityprice.svg");
    background-repeat: no-repeat;
}
.content-users-pricing {
    display: flex;
    justify-content: center;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 16px;
}
.content-users-pricing::after {
    content: "";
    display: inline-block;
    width: 95px;
    height: 19px;
    margin-left: 8px;
    background-image: url(../src/star.svg);
    background-repeat: repeat-x;
    background-position: left center;
    background-size: 19px 19px;
}
.select-price {
    border: 1px solid #4F46E5;
    position: relative;
}
.contenedor-logos-pricing {
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.pricing-comentarios {
    display: flex;
    flex-direction: column;
    gap: 90px;  
    width: 53%;
}
.badge-absolute-price {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 24px;
    min-width: 133px;
    height: 28px;
    background-color: #4F46E5;
    color: #ffffff;
    border-radius: 50px;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
/*SECtion FAQ*/
.section-faq {
    width: 100%;
    gap: 39px;
    background-color: #F9FAFF;
    padding: 96px 48px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.faq-container {
    max-width: 650px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.accordeonfaq {
    background-color: #FFFFFF;
    padding: 16px 16px;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .25);
    gap: 8px;
}
.icon-faq {
    display: block;
    position: absolute;
    right: 10px;
    top: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.accorderon-text {
    font-size: .9rem;
    color: #6B7280;
    font-weight: 400;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.35s ease, opacity 0.1s ease;  
}
.accorderon-text.active {
    max-height: 220px;
    display: block;
    opacity: 1;
}
.accordeon-titulo {
    color: #4B5563;
    font-weight: bold;
}
.accordeon-titulo.active {
    color: rgb(79, 70, 229)
}
.icon-faq.active {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
.titulo-faq{
    color: #374151;
    font-size: 2rem ;
    font-weight: 500;
}
/*LAST SECTION*/
.last-section {
    background-color: #F9FAFF;
    width: 100%;
    padding: 80px 36px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.cta-container {
    display: flex;
    background-color: #4F46E5;
    padding: 10px 10px;
    width: 75%;
    height: auto;
    gap: 10px;
}
.cta-footer {
    width: 448px;
    padding: 32px 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: start;
}
.last-title {
    color: #E0E7FF;
    font-weight: 400;
}
.last-text {
    color: #A5B4FC;
    font-weight: 400;
}
.cta-banner-container {
    width: 100%;
}
.cta-banner{
    background-color: #BD2777;
    color: #fff;
    width: 100%;
    padding: 16px 12px;
    text-decoration: none;
    display: flex;
    justify-content: center ;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.1rem;
}
.cta-banner::before {
    content: "";
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    height: 19px;
    width: 20px;
    

    background: url("../src/arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
}
/*Footer Section*/
.section-footer{
    background-color: #111827;
    padding: 48px 48px;
    width: 100%;
}
.footer-container {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    gap: 48px;
}
.logo-blanco {
    filter: brightness(0) invert(1);
    width: 140px;
    height: 42px;
}
.socials-footer {
    display: flex;
    justify-content: space-around;
    width: 56%;

}
.titulo-footer {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.2rem;
}
.texto-footer {
    color: #4B5563;
    font-weight: 400;
    font-size: .9rem;
}
.footer-item {
    text-align: left;
}
.item1 {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.item2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contenedor-item2 {
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.item3 {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.contenedor-item3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.email-footer {
    font-weight: 400;
    color: #7E8C9F;
    font-size: 0.9rem;
    text-decoration: none;
}
.item4 {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.contenedor-item4{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*MODO RESPONSIVE PARA CAMBIOS PUNTUALES*/

@media (max-width: 768px) {
    .gif-works {
        display: none;
    }
    .how-grid {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .grid-price {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .grilla-acoordeon {
        width: 100%;
    }
    .pricing-contenedor {
        gap: 30px;
    }
    .choose-comentarios {
        width: 100%;
    }
    .choose-comentariosworks{
        width: 100%;
    }
    .uses-comentarios {
        width: 100%;
    }
    .pricing-comentarios {
        width: 100%;
    }
    .cta-container {
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        width: 100%;
    }
    .banner-cta {
        display: none;
    }
    .last-section {
        padding: 96px 0px;
    }
    .cta-footer {
        width: 100%;
        gap: 30px;
    }
    .last-title {
        font-size: 2rem;
        font-weight: 600;
    }
    .cta-banner {
        width: 100%;
        height: 40px;
        display: inline-flex;
        align-items: center;
    }
    .footer-container {
        grid-template-columns: 1fr;
    }
    .footer-item {
        align-items: center;
    }
    .contenedor-item2 {
        align-items: center;
    }
    .contenedor-item3{
        align-items: center;
    }
    .contenedor-item4 {
        align-items: center;
    }
    .grid-price-item {
        width: 350px;
    }
    .hero-wrapper {
        gap: 30px;
    }
    .contenido-hero{
        width: 100%;
        height: auto;
    }
    .pais-hidden{
        overflow: hidden;
    }
    .contenedor-textocentro {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .content-users::after {
        content: "";
        display: inline-block;
        width: 73px;
        height: 17px;
        margin-left: 3px;
        background-image: url(../src/star.svg);
        background-repeat: repeat-x;
        background-position: left center;
        background-size: 15px 11px;
    }
    .navBar {
        display: none;
    }
    .btn-header {
        display: none;
    }
}